@media (max-width: 768px) {
 .notification-popup {
    width:100px;
 }
}

@media (max-width: 480px) {
 .notification-popup {
    right:10px !important;
    top:50px !important;
 }
}

@media (max-width: 360px) {
 .notification-popup {
    right:10px !important;
    top:50px !important;
 }
}

